[submodule "docs/portfolio/themes/hugo-profile"]
	path = docs/portfolio/themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "docs/portfolio/themes/ananke"]
	path = docs/portfolio/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "portfolio/themes/adritian"]
	path = portfolio/themes/adritian
	url = https://github.com/zetxek/adritian-free-hugo-theme.git
